<h2>Society You Manage</h2>

<br/>

<div *ngIf="resultSuccess == true" style="color:blue;">
    {{message}}
</div>

<div *ngIf="resultError == true" style="color:red;">
    {{message}}
</div>

<p-table [value]="societies">
    <ng-template pTemplate="header">
        <tr>					
            <th>Society ID</th>
            <th>Society Name</th>
            <th>Action</th>				
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-society>
        <tr>
            <td>{{society.societyId}}</td>
            <td>{{society.name}}</td>
            <td>
                <button pButton type="button" label="Delete" class="p-button-danger" icon="pi pi-trash" (click)="showDialogDelete(society)"></button>
            </td>					
        </tr>
    </ng-template>
</p-table>

<p-dialog *ngIf="displayDelete" header="Delete Society" [(visible)]="displayDelete" [style]="{width: '50vw'}">
    <div>Are you sure you want to delete {{societyToView.name}}?</div>
    <br/>
    <p-button label="Yes" (onClick)="delete()"></p-button>
    &nbsp;
    <p-button label="No"></p-button>
</p-dialog>