<h3>Change Password</h3>
<br/>

<div *ngIf="resultSuccess == true" style="color:blue;">
	{{message}}
</div>

<div *ngIf="resultError == true" style="color:red;">
	{{message}}
</div>
		
<form #changePasswordForm="ngForm" (ngSubmit)="updateStaff()" >

	<table>	
		<tr>
			<td width="20%" style="font-weight: bold;">Username</td>
			<td>{{staff.username}}</td>
			<td>
			</td>
		</tr>	
		<tr>
			<td width="20%" style="font-weight: bold;">Enter Old Password</td>
			<td><input id="oldPassword" name="oldPassword" #oldPassword="ngModel" type="password" [(ngModel)]="OldPassword" required="true" placeholder="Old Password" /></td>
            <td>
                <div *ngIf="changePasswordForm.controls['oldPassword'].hasError('required') && changePasswordForm.controls['oldPassword'].touched" class="text-danger">
                    Old Password Required
                </div>
            </td>
		</tr>
		<tr>
			<td width="20%" style="font-weight: bold;">Enter New Password</td>
			<td><input id="newPassword1" name="newPassword1" #newPassword1="ngModel" type="password" [(ngModel)]="NewPassword1" required="true" placeholder="New Password" /></td>
            <td>
                <div *ngIf="changePasswordForm.controls['newPassword1'].hasError('required') && changePasswordForm.controls['newPassword1'].touched" class="text-danger">
                    New Password Required
                </div>
            </td>
		</tr>
        <tr>
			<td width="20%" style="font-weight: bold;">Enter New Password Again</td>
			<td><input id="newPassword2" name="newPassword2" #newPassword2="ngModel" type="password" [(ngModel)]="NewPassword2" required="true" placeholder="New Password" /></td>
            <td>
                <div *ngIf="changePasswordForm.controls['newPassword2'].hasError('required') && changePasswordForm.controls['newPassword2'].touched" class="text-danger">
                    New Password Required
                </div>
            </td>
		</tr>

		<tr>
			<td colspan="3" style="text-align: center;">
				<input type="submit" value="Update Password" />
			</td>
		</tr>
		
	</table>
	
</form>