<section id="mainmenu" class="mainmenu">
    <h3>Main Menu</h3>
    <nav>
        <br />
        <a routerLink="/index">Home</a>

        <ng-template [ngIf]="sessionService.getIsLogin() == true">
            <br /><br />
            <a class="logoutlink" (click)="staffLogout()">Logout</a>
            <br /><br />
            <h4 class="menuHeader1">Staff Administration</h4>
            <ul class="secondaryMenu">
                <li><a routerLink="/viewAllStaffsPf">View All Staffs PrimeNg</a></li>
                <li><a routerLink="/createNewStaff">Create New Staff</a></li>
            </ul>
            <br />
            <h4 class="menuHeader1">Student Administration</h4>
            <ul class="secondaryMenu">
                <li><a routerLink="/viewAllStudents">View All Students</a></li>
                <li><a routerLink="/createNewStudent">Create New Student</a></li>
            </ul>
            <br /><br />
        </ng-template>
    </nav>

</section>