<br/>
    <br/>

    <div>Societies {{studentToView.name}} is in:</div>
    <br/>

    <p-table #dt2 [value]="societiesCombined" dataKey="societyId" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {societiesCombined} entries"
        [globalFilterFields]="['.societyId','name']">
        <ng-template pTemplate="header">
            <tr>					
                <th>Society ID</th>
                <th>Society Name</th>
                <th>Position</th>
                <th>Change Leadership</th>
                <th>Delete Student</th>
            </tr>

            <tr>
                <th>
                    <p-columnFilter type="text" field="societyId"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="name"></p-columnFilter>
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-society let-rowIndex="rowIndex">
            <tr>
                <td>{{society.societyId}}</td>				
                <td>{{society.name}}</td>
                <td>{{leaderOrMemberStringArray[rowIndex]}}</td>	
                <td>
                    <button *ngIf="leaderOrMemberStringArray[rowIndex]==='LEADER'" pButton type="button" label="Demote " class="p-button-danger" (click)="unlinkStudentLeaderFromSociety(society)" ></button>
                    <button *ngIf="leaderOrMemberStringArray[rowIndex]==='MEMBER'" pButton type="button" label="Promote" (click)="makeStudentLeaderOfSociety(society)" ></button>
                </td>
                <td><button pButton type="button" label="Remove From Society" class="p-button-danger" (click)="removeStudentFromSociety(society)"></button></td>		
            </tr>
        </ng-template>
    </p-table>

    <br/>
    <br/>
    <br/>
    <div>Add Student to a Society: </div>
    <br/>
    <p-dropdown [options]="availableSocieties" [(ngModel)]="selectedNewSocietyToAdd" optionLabel="name" optionValue="societyId" [style]="{width: '15vw'}"></p-dropdown>
    &nbsp;
    &nbsp;
    <p-button *ngIf="availableSocieties.length > 0 " label="Add Student" (onClick)="addStudentToSociety(studentToView)"></p-button>