<!-- <h2>Create New Staff</h2>

<p>
	{{message}}
</p>

	<table border="1">
		<tbody>		
			<tr>
				<th>Staff ID</th>
				<td><input type="text" [(ngModel)]="staff.staffId" /></td>
			</tr>
			
			<tr>
				<th>Email</th>
				<td><input type="text" [(ngModel)]="staff.email" /></td>
			</tr>
			
			<tr>
				<td colspan="2">
					<button (click)="createStaff()">Create Staff</button>
				</td>
			</tr>
		</tbody>
	</table> -->

<h3>Create New Staff</h3>
<br/>

<div *ngIf="resultSuccess == true" style="color:blue;">
	{{message}}
</div>

<div *ngIf="resultError == true" style="color:red;">
	{{message}}
</div>
		
<form #createStaffForm="ngForm" (ngSubmit)="createStaff(createStaffForm)" >

	<table>	
		<tr>
			<td width="20%" style="font-weight: bold;">Username</td>
			<td><input id="username" name="username" #username="ngModel" type="text" placeholder="staff@gmail.com" [(ngModel)]="staff.username" required="true" /></td>
			<td>
				<div *ngIf="username.invalid && (username.dirty || username.touched || submitted)" class="errorText">
					<div *ngIf="username.errors?.['required']">
						Username is required.
					</div>
				</div>
			</td>
		</tr>	
		<tr>
			<td width="20%" style="font-weight: bold;">Email</td>
			<td><input id="email" name="email" #email="ngModel" type="text" placeholder="staff@gmail.com" [(ngModel)]="staff.email" required="true" /></td>
			<td>
				<div *ngIf="email.invalid && (email.dirty || email.touched || submitted)" class="errorText">
					<div *ngIf="email.errors?.['required']">
						Email is required.
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td width="20%" style="font-weight: bold;">Password</td>
			<td><input id="password" name="password" #password="ngModel" type="text" placeholder="password" [(ngModel)]="staff.password" required="true" /></td>
			<td>
				<div *ngIf="password.invalid && (password.dirty || password.touched || submitted)" class="errorText">
					<div *ngIf="password.errors?.['required']">
						Password is required.
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td width="20%" style="font-weight: bold;">Profile Picture</td>
			<td><input id="profilePicture" name="profilePicture" #profilePicture="ngModel" type="text" placeholder="99" [(ngModel)]="staff.profilePicture" required="true" /></td>
			<td>
				<div *ngIf="profilePicture.invalid && (profilePicture.dirty || profilePicture.touched || submitted)" class="errorText">
					<div *ngIf="profilePicture.errors?.['required']">
						Profile Picture is required.
					</div>
				</div>
			</td>
		</tr>

		<tr>
			<td colspan="3" style="text-align: center;">
				<button (click)="clear()">Clear</button>
				&nbsp;
				<input type="submit" value="Create New Staff" />
			</td>
		</tr>
		
	</table>
	
</form>